@import './main';
@import '~buefy/src/scss/buefy';
@import '~bulma-tooltip/src/sass/index.sass';

.page-content {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.dashboard-section {
  margin-bottom: 0.75rem;
}

// #region Reduce padding
.table.is-narrow td {
  padding: 0 0.5em;
}

.modal:not(.dialog) {
  .animation-content {
    max-width: 100%;
  }
  .modal-card {
    width: 100%;
  }
}
// #endregion

.bordered-section {
  border: 1px solid $region-outline-color;
  border-radius: 5px;
  padding: 1em;
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

