@import './bulma';

@import '~buefy/src/scss/buefy';

@import '@/assets/scss/variables.scss';

.hidden {
    display: none;
}

#output {
    width: 100%;
}

/********************
        Other
*********************/

.dashboard-section {
    margin-bottom: 0.75rem;
}
