@import './bulma';

@import '~buefy/src/scss/buefy';

@import '@/assets/scss/variables.scss';

.hidden {
    display: none;
}

/********************
        Logs
*********************/

@mixin logColoredLine($color, $backgroundColor, $borderColor, $iconColor) {
    color: $color;
    background-color: $backgroundColor;
    position: relative;

    .icon {
        color: $iconColor;
    }
}

.log {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font-size: 11px;
    font-family: dejavu sans mono, monospace;
    
    .log-inner {
        border-collapse: collapse;

        .line {
            display: table-row;

            border-bottom: 1px solid rgb(240, 240, 240);

            &:last-child {
                border-bottom-width: 0;
            }

            &.error {
                @include logColoredLine(red, hsl(0, 100%, 97%), hsl(50, 100%, 88%), $errorColor);
            }
        
            &.warning {
                @include logColoredLine(hsl(39, 100%, 18%), hsl(50, 100%, 95%), hsl(50, 100%, 80%), $warningColor);
            }
        
            &.info {
                @include logColoredLine(hsl(221, 100%, 18%), hsl(231, 100%, 98%), hsl(231, 100%, 88%), $infoColor);
            }

            & > .cell {
                display: table-cell;
                padding: 0.1em 0.3em;
            }

            .timestamp {
                white-space: nowrap;
                color: gray;
            }

            .icon {
                min-width: 1em;
                text-align: center;
            }

            .content {
                width: 100%;
            }
        }
    }
}

#output {
    width: 100%;
}

/********************
        Other
*********************/

.dashboard-section {
    margin-bottom: 0.75rem;
}
