@import '~bulma/sass/utilities/initial-variables';

// Brand colors
$blue: rgb(18, 20, 139);
$light-blue: rgb(95, 155, 224);

// Global variables
$family-sans-serif: 'Nunito', sans-serif;
$primary: $blue;
$link: $light-blue;
$link-focus-border: $light-blue;

// Components and elements
$message-body-border-width: 1px 1px 1px 4px;
$box-padding: 0.75rem;

// Extensions
$tooltip-background-opacity: 1;

// #region Reduce padding
$modal-card-head-padding: 8px;
$modal-card-body-padding: 8px;
// #endregion