// FIXME: Actually use these
$errorColor: red;
$successColor: #23d160;
$warningColor: hsl(39, 100%, 58%);
$infoColor: hsl(221, 100%, 37%);
$stateColors: (
    'error': $errorColor,
    'success': $successColor,
    'warning': $warningColor,
    'info': $infoColor,
);

$taskColors: (
    'error': $errorColor,
    'success': $successColor,
    'warning': $warningColor,
);
// TODO: Use bulma colors

$taskBorderWidth: 1px;
$taskBorderRadius: 3px;

$progress-bar-transition-duration: 0.4;
$progress-bar-complete-animation-delay: $progress-bar-transition-duration + 0.6;
$progress-bar-complete-animation-duration: 0.6;

$region-outline-color: #b7b7b7;

$export-buttons-margin: 0.25em;