$fontPath: '~@/assets/fonts/';

/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url($fontPath + 'nunito-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Nunito Regular'), local('Nunito-Regular'),
         url($fontPath + 'nunito-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url($fontPath + 'nunito-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url($fontPath + 'nunito-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url($fontPath + 'nunito-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url($fontPath + 'nunito-v9-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-700 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url($fontPath + 'nunito-v9-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Nunito Bold'), local('Nunito-Bold'),
         url($fontPath + 'nunito-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url($fontPath + 'nunito-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url($fontPath + 'nunito-v9-latin-700.woff') format('woff'), /* Modern Browsers */
         url($fontPath + 'nunito-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url($fontPath + 'nunito-v9-latin-700.svg#Nunito') format('svg'); /* Legacy iOS */
}

// Brand colors
$blue: rgb(18, 20, 139);
$light-blue: rgb(95, 155, 224);

// Global variables
$family-sans-serif: 'Nunito', sans-serif;
$primary: $blue;
$link: $light-blue;
$link-focus-border: $light-blue;

// Components and elements
$message-body-border-width: 1px 1px 1px 4px;
$box-padding: 0.75rem;

// Import only what is needed from Bulma
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/elements/button.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/form.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/elements/other.sass';
@import 'bulma/sass/elements/box.sass';
@import 'bulma/sass/elements/icon.sass';
@import 'bulma/sass/layout/hero.sass';
@import 'bulma/sass/layout/section.sass';
@import 'bulma/sass/grid/columns.sass';