// FIXME: Actually use these
$errorColor: red;
$successColor: #23d160;
$warningColor: hsl(39, 100%, 58%);

body {
    font-family: "Open Sans",arial,x-locale-body,sans-serif;
    line-height: 1.5;
}

.container {
    padding: 10px;
    margin: 0 auto;
    max-width: 1000px;
}

.hidden {
    display: none;
}

/********************
        Buttons
*********************/

button {
    cursor: pointer;
}

.zra-action {
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.3em;
}

.actions {
    margin-bottom: 1em;
}

/********************
        Messages
*********************/

.message {
    border: 1px solid;
    border-radius: 4px;
    border-left-width: 6px;
    padding: 1.25em 1.5em;
    font-size: 1rem;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
    
    &.error {
        border-color: #ff3860;
        color: #cd0930;
        background-color: #fff5f7;
    }
    
    &.success {
        border-color: #23d160;
        color: #0e301a;
        background-color: #f6fef9;
    }
}

/********************
        Logs
*********************/

@mixin logColoredLine($color, $backgroundColor, $borderColor, $iconColor) {
    color: $color;
    background-color: $backgroundColor;
    position: relative;

    .icon {
        color: $iconColor;
    }
}

.log {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font-size: 11px;
    font-family: dejavu sans mono, monospace;
    
    .log-inner {
        border-collapse: collapse;

        .line {
            display: table-row;

            border-bottom: 1px solid rgb(240, 240, 240);

            &:last-child {
                border-bottom-width: 0;
            }

            &.error {
                @include logColoredLine(red, hsl(0, 100%, 97%), hsl(50, 100%, 88%), $errorColor);
            }
        
            &.warning {
                @include logColoredLine(hsl(39, 100%, 18%), hsl(50, 100%, 95%), hsl(50, 100%, 80%), $warningColor);
            }
        
            &.info {
                @include logColoredLine(hsl(221, 100%, 18%), hsl(231, 100%, 98%), hsl(231, 100%, 88%), hsl(221, 100%, 37%));
            }

            & > .cell {
                display: table-cell;
                padding: 0.1em 0.5em;
            }

            .timestamp {
                white-space: nowrap;
                color: gray;
            }

            .icon {
                min-width: 1em;
                text-align: center;
            }

            .content {
                width: 100%;
            }
        }
    }
}

#output {
    width: 100%;
}

/********************
        Tasks
*********************/

/* TODO: Use color variables */

.task {
    background: rgb(245, 245, 245);
    border: 1px solid rgb(139, 139, 139);
    border-radius: 3px;
    border-left-width: 5px;
    padding: 1em;

    &:not(:last-child) {
        margin-bottom: 1em;
    }

    & > .content {
        .header {
            display: flex;
            .title {
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 0.2em;
            }

            .subtasks-info {
                margin-left: auto;
                display: flex;
                .item:not(:last-child) {
                    padding-right: 1em;
                }
                .icon {
                    padding-right: 0.2em;
                }
                .error .icon {
                    color: $errorColor;
                }
                .warning .icon {
                    color: $warningColor;
                }
                .success .icon {
                    color: $successColor;
                }
            }
        }

        progress {
            width: 100%;
        }
    }

    &.error {
        border-color: #ff3860;
        color: #cd0930;
        background-color: #fff5f7;
    }
    
    &.success {
        border-color: #23d160;
        color: #0e301a;
        background-color: #f6fef9;
    }

    &.complete progress {
        display: none;
    }

    .closed-icon {
        display: inline-block;
    }

    .open-icon {
        display: none;
    }

    &.open {
        .closed-icon {
            display: none;
        }
        
        .open-icon {
            display: inline-block;
        }

        & > .sub-tasks {
            display: block;
        }
    }

    & > .sub-tasks {
        margin-top: 1em;
        background: #fff;
        border: 1px solid rgb(172, 172, 172);
        display: none;
    }
}

.sub-task {
    padding: 0.5em;
    border: none;
    border-radius: 0;
    color: #000;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(172, 172, 172, 0.5);
        margin-bottom: 0;
    }

    &.error {
        border-color: #8a0721;
        color: #fff;
        background-color: #cd0930;
    }
    
    &.success {
        border-color: #00aa25;
        color: #fff;
        background-color: #00be29;
    }

    &.complete progress {
        
    }

    &.compact .content {
        padding: 0.2em;
        padding-left: 0.85em;
        display: flex;
        flex-direction: row;
        align-items: center;
    
        .title {
            white-space: nowrap;
        }
        
        .status {
            display: none;
        }
        
        progress {
            max-width: 85%;
            margin-left: auto;
        }
    }
}

/********************
        Other
*********************/

#progress {
    width: 100%;
}