html, body {
  /* width: 100px; */
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  white-space: nowrap;
  display: block;
  width: 100%;
}

.zra-action:hover {
  background-color: #CFF2F2;
}

.zra-action {
  border: 1px solid rgb(96, 160, 160);
  border-radius: 3px;
  background-color: #E5F2F2;
}

